<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2015.
  ~
  ~ The author of these files, Austin Wellman, allows modification, reproduction and private use of them. It, derived works, and works including derived files cannot be published to an app store, packaged and redistributed, used commercially, or sublicensed.
  ~
  ~ The author is not responsible for anything this software causes to happen and is provided as-is with no guarantee of anything.
  ~
  ~ During the building process, gradle pulls the following files covered under the Apache License 2.0 which is located in the root of this repository as the file "included_licenses/APACHE_2.0.txt":
  ~ gson
  ~ spring-android-core
  ~ spring-android-rest-template
  ~ support-annotations
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atwelm.aezwidget" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.atwelm.aezwidget.Application"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.atwelm.aezwidget.WidgetConfigurationActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name="com.atwelm.aezwidget.WidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="ACTION_WIDGET_UPDATE_FROM_WIDGET" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ezwidget_info" />
        </receiver>

        <service
            android:name="com.atwelm.aezwidget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

    </application>

</manifest>
